.App {
  flex: .8;
  width: 100vw;
  height: auto;
  background-image: url('https://www.publicdomainpictures.net/pictures/310000/velka/papier-dechire-1.png');
  background-repeat: no-repeat;
  padding: 2rem 2rem;
}
.App__title {
  text-align: center;
}

.App__header {
  grid-template-columns: 2fr 3fr;
  align-items: flex-end;
  margin-bottom: 3rem;
}

.App__intro-text {
  font-size: 0.85rem;
  color: black;
}